= semantic_form_for [:admin, @unit] do |f|
  = f.inputs name: "Address" do
    = f.input :address, label: "Street name & Number", input_html: {rows: 3, class: "input-address"}
    = f.input :number, label: "Unit Number", input_html: { style: "width: 200px;" }
    = f.input :city
    = f.input :state
    = f.input :zip, input_html: { style: "width: 100px;"}
    = f.input :country, as: :country

  = f.inputs name: "Details" do
    = f.input :property, hint: "Select the property this unit is part of."
    = f.input :unit_type, as: :select
    = f.input :rent_due, as: :select, collection: rent_due_options
    = f.input :dimension
    = f.input :notes

  = f.actions
    
