.panel
  %h3 Unit Details
  .panel_content
    %table
      %tbody
        %tr
          %th Address
          %td= @unit.formatted_address
        - if @unit.number
          %tr
            %th Unit Number
            %td= @unit.number
        - if @unit.notes
          %tr
            %th Notes
            %td= @unit.notes
        - unless @unit.property.is_rental_unit?
          %tr
            %th Property
            %td= @unit.property.name

.tabs 
  %ul.nav.nav-tabs{role: "tablist"}
    %li
      = link_to "Active Lease", "#active_lease"
    %li
      = link_to "Past Leases", "#past_leases"

  .tab-content
    #active_lease
      = render partial: "active_lease"
    #past_leases
      = render partial: "past_leases"

