.panel
  %h3 Unpaid
  .panel_content
    %table
      %tbody
        %tr
          %th Address
          %th Amount Due
          %th 
        - for rent in @rents_unpaid
          %tr
            %td= rent.formatted_address
            %td= number_to_currency rent.amount_due
            %td= button_to "Receive Payment", receive_admin_rent_path(rent), method: :put

  %br
  %h3 Paid
  .panel_content
    %table
      %tbody
        %tr
          %th Address
          %th Received
          %th Collected
        - for rent in @rents_paid
          %tr
            %td= rent.formatted_address
            %td= number_to_currency rent.amount_due
            %td= rent.collected_at.to_s(:event_datetime)
