= semantic_form_for [:admin, @model_number] do |f|
  / = f.input :aka
  = f.inputs name: "Details" do
    - if controller.action_name == 'new'
      = f.input :brand_id, as: :select, collection: Brand.pluck(:name, :id), input_html: { onchange: "updateModels(this);" }
    - else
      = f.input :brand_name, input_html: {disabled: true}
    = f.input :model_reference
    = f.input :name, label: "Model Name"
    = f.input :model_number
    = f.input :case_number
    = f.input :model, as: :select, collection: model_options_for(@model_number)
    = f.input :description, as: :text
    = f.input :gender, as: :radio, collection: {"Men's" => "M", "Women's" => "F", "Unisex" => "X"}, label: "Gender"
    = f.input :released, hint: "Formatted as YYYY-M or YYYY"
    = f.input :stopped, hint: "Formatted as YYYY-M or YYYY"
    = f.input :waterresistance, hint: "i.e. 200.00 m or 30.00 m"
