.panel
  %h3 Unit Details
  .panel_content
    %table
      %tbody
        %tr
          %th Address
          %td= @lease.unit.formatted_address
        - if @lease.unit.notes
          %tr
            %th Notes
            %td= @lease.unit.notes
        - unless @lease.unit.property.is_rental_unit?
          %tr
            %th Property
            %td= @lease.unit.property.name

.panel
  %h3 Lease Details
  .panel_contents
    .attributes_table
      %table
        %tbody
          %tr
            %th Time Left
            %td
              = distance_of_time_in_words_to_now(@lease.ends_on)
          %tr
            %th Lease Starts
            %td= @lease.starts_on
          %tr
            %th Lease Ends
            %td= @lease.ends_on
          %tr
            %th Length in months
            %td= @lease.length_in_months
          %tr
            %th Charges
            %td
              %ul
                - for charge in @lease.charges
                  %li #{charge.frequency.humanize} #{charge.name}: #{number_to_currency charge.amount}
          %tr
            %th Tenants
            %td
              %ul
                - for tenant in @lease.tenants
                  %li= link_to tenant.full_name, admin_tenant_path(tenant)


