.panel
  %h3 Unpaid
  .panel_content
    %table
      %tbody
        %tr
          %th Address
          %th Amount Due
          %th 
        - for rent in next_month[:unpaid]
          %tr
            %td= rent.formatted_address
            %td= number_to_currency rent.amount_due
            %td= button_to "Receive Payment", receive_admin_payment_path(rent, applicable_period: 'next month'), method: :put

  %h3 Paid
  .panel_content
    %table
      %tbody
        %tr
          - if next_month[:paid].any?
            %th Received
            %th From
            %th Collected On
            - for rent in next_month[:paid]
              %tr
                %td= number_to_currency rent.amount_due
                %td= rent.formatted_address
                %td= rent.collected_on.to_s(:event_datetime)
          - else
            %th None paid next month.
