.pull-right
  = form_tag "/admin/payments", method: "get", id: "month_form" do
    %input.month_picker{type: 'text', value: params[:period]}
    %input#monthyearval{type: 'hidden', name: "period", value: params[:period]}


- if params[:period].present?
  = render partial: "selected_period", locals: { selected_period: selected_period }
- else
  .tabs 
    %ul.nav.nav-tabs{role: "tablist"}
      %li
        = link_to "Last Month", "#last_month"
      %li
        = link_to "This Month", "#this_month"
      %li
        = link_to "Next Month", "#next_month"

    .tab-content.rents-panel
      #last_month
        = render partial: "payments", locals: { leases: for_month(last_month), applicable_period: "last_month" }
      #this_month
        = render partial: "payments", locals: { leases: for_month(this_month), applicable_period: "this_month" }
      #next_month
        = render partial: "payments", locals: { leases: for_month(next_month), applicable_period: "next_month" }

